.headerLogo {
  display: block;
  margin: auto;
}

.navLinks {
  display: flex;
  justify-content: center;
  gap: 10em;
}

.pageTitle {
  text-align: center;
}

.footerStyles {
  text-align: center;
  font-weight: bold;
  margin: 3em 0 3em 0;
}

.homePicContainer {
  position: relative;
  height: 400px;
  width: 100%;
}

.homePic {
  float: left;
  border-radius: 50%;
}
